{% include "main/header.html" %}
{% load static %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1531592937781-344ad608fabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Register</h1>
            <span class="subheading">Start Contributing to the Blog!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content">
        <form method="post" class="form" role="form" novalidate>
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group required">
              <label class="control-label">{{ field.label }}
              {% if field.field.required %}
                  {{ '<i style="color:red">*</i>'|safe }}
              {% endif %}
              </label>
              {{ field }}
                {% for error in field.errors %}
                    <p>{{ error|escape }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <p>{{ form.non_field_errors.as_text }}</p>
            <input type="submit" value="Register" class="btn btn-primary">
          </form>
      </div>
    </div>
  </div>

{% include "main/footer.html" %}